---
import type { Education } from '../interfaces/IEducation'

const { content } = Astro.props as Education
---

<section>
    <h2>{content.title}</h2>
    <ul>
        <li itemscope itemtype="http://schema.org/EducationalEvent">
            <span itemprop="name">
                <strong>{content.formation.title}</strong>
            </span>
            <div
                itemprop="organizer"
                itemscope
                itemtype="http://schema.org/EducationalOrganization"
            >
                <span itemprop="name">{content.formation.organization}</span>
                <p class="period">
                    <time itemprop="startDate" datetime="2020-02">
                        {content.formation.starDate}
                    </time>{' '}
                    - <time itemprop="endDate" datetime="2022-12"
                        >{content.formation.endDate}</time
                    >
                </p>
            </div>
        </li>
    </ul>
</section>
