---
import type { Header } from '../interfaces/IHeader'

const { content } = Astro.props as Header
---

<header>
    <h1 itemprop="name">VINÍCIUS NEVES COSTA</h1>
    <nav
        class="contact-info"
        aria-label={content.navAriaLabel}
        itemprop="contactPoint"
        itemscope
        itemtype="http://schema.org/ContactPoint"
    >
        <a
            href="mailto:contact@viniciusnevescosta.com"
            aria-label={content.emailAriaLabel}
            title={content.emailAriaLabel}
            itemprop="email"
        >
            <i class="ri-mail-line"></i>
            E-mail
        </a>
        <a
            href="https://linkedin.com/in/nevesco"
            target="_blank"
            rel="noreferrer"
            aria-label={content.linkedinAriaLabel}
            title={content.linkedinAriaLabel}
            itemprop="url"
        >
            <i class="ri-linkedin-line"></i>
            LinkedIn
        </a>
        <a
            href="https://github.com/viniciusnevescosta"
            target="_blank"
            rel="noreferrer"
            aria-label={content.githubAriaLabel}
            title={content.githubAriaLabel}
            itemprop="url"
        >
            <i class="ri-github-line"></i>
            GitHub
        </a>
    </nav>
</header>
