---
import type { Languages } from '../interfaces/ILanguages'
const { content } = Astro.props as Languages
---

<section>
    <h2>
        <a href={`#${content.title.toLowerCase().replace(/\s+/g, '_')}`}
            >{content.title}</a>
    </h2>
    <ul class="language-proficiency">
        <li itemscope itemtype="http://schema.org/Language">
            <strong itemprop="name">{content.language_3.name}</strong>
            <br />
            <span itemprop="proficiencyLevel"
                >{content.language_3.proficiencyLevel}</span
            >
        </li>
        <li itemscope itemtype="http://schema.org/Language">
            <strong itemprop="name">{content.language_2.name}</strong>
            <br />
            <span itemprop="proficiencyLevel"
                >{content.language_2.proficiencyLevel}</span
            >
        </li>
        <li itemscope itemtype="http://schema.org/Language">
            <strong itemprop="name">{content.language.name}</strong>
            <br />
            <span itemprop="proficiencyLevel"
                >{content.language.proficiencyLevel}</span
            >
        </li>
    </ul>
</section>
