---
import type { Projects } from '../interfaces/IProjects'
const { content } = Astro.props as Projects
---

<section>
    <h2>
        <a href={`#${content.title.toLowerCase().replace(/\s+/g, '_')}`}
            >{content.title}</a>
    </h2>
    <ul>
        <li itemscope itemtype="http://schema.org/CreativeWork">
            <a
                href="https://github.com/viniciusnevescosta/ContainerFlow"
                target="_blank"
                rel="noreferrer"
                title={content.actionTitle}
                itemprop="name"
            >
                container-flow
                <i class="ri-arrow-right-up-line"></i>
            </a>
            <p>
                {content.project_3.description}
            </p>
            <meta
                itemprop="description"
                content={content.project_3.description}
            />
            <link
                itemprop="url"
                href="https://github.com/viniciusnevescosta/ContainerFlow"
            />
        </li>
        <li itemscope itemtype="http://schema.org/CreativeWork">
            <a
                href="https://github.com/viniciusnevescosta/CommitFlow"
                target="_blank"
                rel="noreferrer"
                title={content.actionTitle}
                itemprop="name"
            >
                commit-flow
                <i class="ri-arrow-right-up-line"></i>
            </a>
            <p>
                {content.project_2.description}
            </p>
            <meta
                itemprop="description"
                content={content.project_2.description}
            />
            <link
                itemprop="url"
                href="https://github.com/viniciusnevescosta/CommitFlow"
            />
        </li>
        <li itemscope itemtype="http://schema.org/CreativeWork">
            <a
                href="https://github.com/FrogDevs/etec-final-course-project"
                target="_blank"
                rel="noreferrer"
                title={content.actionTitle}
                itemprop="name"
            >
                equilibrio-natural-system
                <i class="ri-arrow-right-up-line"></i>
            </a>
            <p>
                {content.project.description}
            </p>
            <meta
                itemprop="description"
                content={content.project.description}
            />
            <link
                itemprop="url"
                href="https://github.com/FrogDevs/etec-final-course-project"
            />
        </li>
    </ul>
</section>
