---
import '../../styles/main.css'
import type { Layout } from '../interfaces/ILayout'
const { content } = Astro.props as Layout
---

<!doctype html>
<html lang="">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/favicon.svg" />
        <meta
            name="google-site-verification"
            content="fNDAJqCnHfz2iT5ZJnrozHcGBkeo67vlPERdkLTx_B8"
        />
        <meta name="robots" content="index, follow" />
        <title>{content.title}</title> 
        <meta
            name="description"
            content={content.description}
        />
        <meta
            name="keywords"
            content={content.keywords}
        />
        <meta name="author" content="Vinícius Neves Costa" />
        <meta
            property="og:title"
            content={content.og_title}
        />
        <meta
            property="og:description"
            content={content.description}
        />
        <meta
            property="og:url"
            content="https://resume.viniciusnevescosta.com"
        />
        <meta property="og:image" content="/meta_image.jpg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta name="twitter:image" content="/meta_image.jpg" />
        <meta name="twitter:card" content="summary_large_image" />
    </head>
    <body itemscope itemtype="http://schema.org/Person">
        <slot />
    </body>
</html>
